# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [25]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

## Read the CSV and Perform Basic Data Cleaning

In [5]:
# Load the data
file_path = Path('data/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [6]:
# checking the data..
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  object
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  object
 6   issue_d                     68817 non-null  object
 7   loan_status                 68817 non-null  object
 8   pymnt_plan                  68817 non-null  object
 9   dti                         68817 non-null  float64
 10  delinq_2yrs                 68817 non-null  float64
 11  inq_last_6mths              68817 non-null  float64
 12  open_acc                    68817 non-null  float64
 13  pub_rec                     68817 non-null  float64
 14  revol_bal                   68817 non-null  float64
 15  total_acc                   68817 non-null  float64
 16  initial_list_status         68817 non-null  object
 17  out_prncp                   68817 non-null  float64
 18  out_prncp_inv               68817 non-null  float64
 19  total_pymnt                 68817 non-null  float64
 20  total_pymnt_inv             68817 non-null  float64
 21  total_rec_prncp             68817 non-null  float64
 22  total_rec_int               68817 non-null  float64
 23  total_rec_late_fee          68817 non-null  float64
 24  recoveries                  68817 non-null  float64
 25  collection_recovery_fee     68817 non-null  float64
 26  last_pymnt_amnt             68817 non-null  float64
 27  next_pymnt_d                68817 non-null  object
 28  collections_12_mths_ex_med  68817 non-null  float64
 29  policy_code                 68817 non-null  float64
 30  application_type            68817 non-null  object
 31  acc_now_delinq              68817 non-null  float64
 32  tot_coll_amt                68817 non-null  float64
 33  tot_cur_bal                 68817 non-null  float64
 34  open_acc_6m                 68817 non-null  float64
 35  open_act_il                 68817 non-null  float64
 36  open_il_12m                 68817 non-null  float64
 37  open_il_24m                 68817 non-null  float64
 38  mths_since_rcnt_il          68817 non-null  float64
 39  total_bal_il                68817 non-null  float64
 40  il_util                     68817 non-null  float64
 41  open_rv_12m                 68817 non-null  float64
 42  open_rv_24m                 68817 non-null  float64
 43  max_bal_bc                  68817 non-null  float64
 44  all_util                    68817 non-null  float64
 45  total_rev_hi_lim            68817 non-null  float64
 46  inq_fi                      68817 non-null  float64
 47  total_cu_tl                 68817 non-null  float64
 48  inq_last_12m                68817 non-null  float64
 49  acc_open_past_24mths        68817 non-null  float64
 50  avg_cur_bal                 68817 non-null  float64
 51  bc_open_to_buy              68817 non-null  float64
 52  bc_util                     68817 non-null  float64
 53  chargeoff_within_12_mths    68817 non-null  float64
 54  delinq_amnt                 68817 non-null  float64
 55  mo_sin_old_il_acct          68817 non-null  float64
 56  mo_sin_old_rev_tl_op        68817 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 58  mo_sin_rcnt_tl              68817 non-null  float64
 59  mort_acc                    68817 non-null  float64
 60  mths_since_recent_bc        68817 non-null  float64
 61  mths_since_recent_inq       68817 non-null  float64
 62  num_accts_ever_120_pd       68817 non-null  float64
 63  num_actv_bc_tl              68817 non-null  float64
 64  num_actv_rev_tl             68817 non-null  float64
 65  num_bc_sats                 68817 non-null  float64
 66  num_bc_tl                   68817 non-null  float64
 67  num_il_tl                   68817 non-null  float64
 68  num_op_rev_tl               68817 non-null  float64
 69  num_rev_accts               68817 non-null  float64
 70  num_rev_tl_bal_gt_0         68817 non-null  float64
 71  num_sats                    68817 non-null  float64
 72  num_tl_120dpd_2m            68817 non-null  float64
 73  num_tl_30dpd                68817 non-null  float64
 74  num_tl_90g_dpd_24m          68817 non-null  float64
 75  num_tl_op_past_12m          68817 non-null  float64
 76  pct_tl_nvr_dlq              68817 non-null  float64
 77  percent_bc_gt_75            68817 non-null  float64
 78  pub_rec_bankruptcies        68817 non-null  float64
 79  tax_liens                   68817 non-null  float64
 80  tot_hi_cred_lim             68817 non-null  float64
 81  total_bal_ex_mort           68817 non-null  float64
 82  total_bc_limit              68817 non-null  float64
 83  total_il_high_credit_limit  68817 non-null  float64
 84  hardship_flag               68817 non-null  object
 85  debt_settlement_flag        68817 non-null  object
dtypes: float64(76), object(10)
memory usage: 45.2+ MB

## Split the Data into Training and Testing

In [7]:
# select column objects
df = pd.get_dummies(df, columns=['home_ownership', 'verification_status', 'application_type'], drop_first=True)

# Create our features
X = df.drop(columns=['loan_status','issue_d','pymnt_plan','initial_list_status','next_pymnt_d','hardship_flag','debt_settlement_flag'])

# Create our target
y = df.loan_status

In [8]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04,0.526309,0.106747,0.357659,0.373992,0.148001,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04,0.499311,0.308793,0.479314,0.483865,0.355104,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,3.600000e+03,2.350000e+02,100.000000,1.270000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
# Check the balance of our target values
Counter(y)

Counter({'low_risk': 68470, 'high_risk': 347})

In [11]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [13]:
# Create the StandardScaler instance
std_scaler = StandardScaler()

In [14]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
std_scaler.fit(X_train)

StandardScaler()

In [16]:
# Scale the training and testing data
X_train = std_scaler.transform(X_train)
X_test = std_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [18]:
# Resample the training data with the BalancedRandomForestClassifier
balanced_random_classifier= BalancedRandomForestClassifier(n_estimators=100, random_state=1)
balanced_random_classifier.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [19]:
# Calculated the balanced accuracy score
# generate the predictor function
y_pred = balanced_random_classifier.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7235940389426738

In [20]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   54,    33],
       [ 2970, 14148]], dtype=int64)

In [21]:
# Print the imbalanced classification report
classification_report_imbalanced(y_test, y_pred)

'                   pre       rec       spe        f1       geo       iba       sup\n\n  high_risk       0.02      0.62      0.83      0.03      0.72      0.50        87\n   low_risk       1.00      0.83      0.62      0.90      0.72      0.52     17118\n\navg / total       0.99      0.83      0.62      0.90      0.72      0.52     17205\n'

In [31]:
print('                   pre       rec       spe        f1       geo       iba       sup\n\n  high_risk       0.02      0.62      0.83      0.03      0.72      0.50        87\n   low_risk       1.00      0.83      0.62      0.90      0.72      0.52     17118\n\navg / total       0.99      0.83      0.62      0.90      0.72      0.52     17205\n')

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.02      0.62      0.83      0.03      0.72      0.50        87
   low_risk       1.00      0.83      0.62      0.90      0.72      0.52     17118

avg / total       0.99      0.83      0.62      0.90      0.72      0.52     17205

In [24]:
# List the features sorted in descending order by feature importance
importance = pd.DataFrame({'Features': X.columns, 'Importance': balanced_random_classifier.feature_importances_}).sort_values(by='Importance', ascending=False)
importance

### Easy Ensemble Classifier

In [26]:
# Train the Classifier
easy_ensemble_classifier = EasyEnsembleClassifier(n_estimators=100, random_state=1)
easy_ensemble_classifier.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [27]:
# Calculated the balanced accuracy score
y_pred = easy_ensemble_classifier.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7504683515235022

In [28]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   62,    25],
       [ 3624, 13494]], dtype=int64)

In [29]:
# Print the imbalanced classification report
classification_report_imbalanced(y_test, y_pred)

'                   pre       rec       spe        f1       geo       iba       sup\n\n  high_risk       0.02      0.71      0.79      0.03      0.75      0.56        87\n   low_risk       1.00      0.79      0.71      0.88      0.75      0.57     17118\n\navg / total       0.99      0.79      0.71      0.88      0.75      0.57     17205\n'

In [30]:
print('                   pre       rec       spe        f1       geo       iba       sup\n\n  high_risk       0.02      0.71      0.79      0.03      0.75      0.56        87\n   low_risk       1.00      0.79      0.71      0.88      0.75      0.57     17118\n\navg / total       0.99      0.79      0.71      0.88      0.75      0.57     17205\n')

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.02      0.71      0.79      0.03      0.75      0.56        87
   low_risk       1.00      0.79      0.71      0.88      0.75      0.57     17118

avg / total       0.99      0.79      0.71      0.88      0.75      0.57     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    **Easy Ensemble Classifier ( total = 0.57 vs 0.52 )**

2. Which model had the best recall score?

    **Balanced Random Forest Classifier ( total = 0.83 )**

3. Which model had the best geometric mean score?

    **Easy Ensemble Classifier**

4. What are the top three features?

- total_rec_prncp
- last_pymnt_amnt
- total_pymnt